# dependencies
node_modules/
src-tauri/target/

# build output
dist/
dist-ssr/
*.local
.vite/

# rust
src-tauri/gen/

# editor / os
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
Thumbs.db

# secrets
.env
.env.*

# logs
*.log
npm-debug.log*

# test / coverage
coverage/
